<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activity List</title>

    <meta name="viewport" content="width=device-width , initial-scale=1" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

</head>

    <style>

        table,th,div{
            color: black;
            text-align: center;
            border-collapse: separate;
            border-spacing: 2px ;
        }

    </style>

<body>
    <div class="container my-3" >
        <h1>Activity List</h1>
        <form th:action="@{index}">
                        Filter: <input type="text" name="keyword" id="keyword" size="15"
                                       th:value="${keyword}" required /> &nbsp;
                                <input type="submit"
                                       value="Search" /> &nbsp;
                                <input type="button" value="Clear" id="btnClear" onclick="clearSearch">

                                <script type="text/javascript">
                                    function clearSearch(){
                                        window.location = "[[@{/}]]" ;
                                    }
                        </script>
        </form>
    </div> <a th:text="@{/showNewActivityForm}" class="btn btn-primary btn-sm mb-3"> Add New Activity </a>
        <table border="1" class="table table-hover">
            <thead>
                <tr class="active">
                    <th>Activity Id</th>
                    <th>Activity Name</th>
                    <th>Description</th>
                    <th>Photo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="activity : ${listActivity}">
                <td th:text="${activity.id}"></td>
                <td th:text="${activity.activityname}"></td>
                <td th:text="${activity.description}"></td>
                <td><img th:src="@{'/product-photos/' + activity.id + '/' + activity.photos}" alt="No pic" width="100" height="60"/></td>
                <td>
                    <a th:href="@{/showFormForUpdate/{id}(id=${activity.id})}" class="btn btn-info">Edit</a>
                    <a th:href="@{/deleteActivity/{id}(id=${activity.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- code given below for pagination-->
</body>
</html>